<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>AngularJS Form Validation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="myCtrl">

<h2>Employee Registration Form</h2>

<form name="myForm">

<label>Name:</label>
<input type="text" ng-model="emp.name">
<br><br>

<label>Email:</label>
<input type="email" ng-model="emp.email">
<br><br>

<label>Age:</label>
<input type="number" ng-model="emp.age">
<br><br>

<label>Gender:</label>
<select ng-model="emp.gender">
<option value="">Select Gender</option>
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>
<br><br>

<button ng-click="validate()">Submit</button>

<p style="color:red">{{message}}</p>

</form>

<script>
var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope){

$scope.emp = {};

$scope.validate = function(){

if(!$scope.emp.name || !$scope.emp.email || !$scope.emp.age || !$scope.emp.gender){
$scope.message = "All fields are required!";
}
else{
$scope.message = "Form Submitted Successfully!";
}

};

});
</script>

</body>
</html>